<div id="search-component">
  <input #searchBox type="text" id="search-box" (input)="search(searchBox.value)" placeholder="Find your Hero:">
  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{hero.id}}">{{ hero.name }}</a>
    </li>
  </ul>
</div>
