#search-component {
  display: inline;
  position: absolute;
}

input {
  border-radius: 5px;
  border: solid 1px darkslategray;
  text-align: center;
  width: 150px;
  height: 20px;
  margin-left: 50px;

  &:placeholder-shown {
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
    text-shadow: 4px 4px 5px lightgray;
    font-weight: 500;
    font-size: 10pt;
  }
}

.search-result {
  background-color: white;
  display: none;
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
  position: relative;
  width: 150px;
  z-index: 1000;
  margin-left: 50px;
  border-radius: 5px;
}

.search-result > li {
  border-color: lightgray;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px 0;
  padding-left: 5px;

  display: flex;
  justify-content: center;
}

.search-result > li > a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  &:hover {
    color: grey;
  }
}

.search-result > li:last-child {
border-bottom: 1px solid lightgray;
border-radius: 0 0 5px 5px;
}

#search-box:focus + .search-result {
display: block;
}
