<div class="container">
  <div class="row">
    <div class="cont">
      <div>
        <h1>Top Heroes</h1>
        <a routerLink="/detail/{{ hero.id }}" *ngFor="let hero of heroes">
          <div>
            <h4>{{hero.name}}</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
