li {
  display: inline;
  text-decoration: none;
}

a:hover {
  font-size: 12.5pt;
  color: grey;
}

a {
  margin-right: 10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
  text-shadow: 4px 4px 5px lightgray;
}

ul {
  display: inline;
}

