<div *ngIf="hero" class="hero-details">
  <h2>Hero Details</h2>
  <h4>{{ hero.name }}</h4>
  <p><span>ID: </span> {{ hero.id }}</p>

  <button (click)="onClickHide()" >Hide</button>
  <button (click)="goToHero(hero.id)" >Go to Hero</button>
</div>
