* {
  font-family: 'Roboto', sans-serif;
  color: darkslategray;
}

ul {
  padding: 0;
}
.hero {
  list-style-type: none;
  background-color: whitesmoke;
  text-align: center;

  box-shadow: 2px, 2px, 5px, black;
  border-radius: 5px;

  &:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  &:active{
    transform: scale(0.9);
  }
}

.hero.selected {
  background-color: lightgray;
}

button {
  background-color: lightgray;
  border-radius: 5px;
  color: darkslategray;
}

h1 {
  color: darkslategray;
}

input {
  border-radius: 5px;
  border: solid 1px grey;
  text-align: center;
  width: 120px;
  height: 20px;
  margin-right: 20px;

  &:placeholder-shown {
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
    text-shadow: 4px 4px 5px lightgray;
    font-weight: 500;
    font-size: 10pt;
  }
}

button {
  background-color: #e6ffe6;
}
