<div class="container">
  <h1>Welcome to Heroes!</h1>
  <div class="row">
    <div class="heroes-list col-md-4">
      <h2>Heroes List!</h2>
      <ul>
        <li class="hero" [class.selected]="hero === selectedHero" *ngFor="let hero of heroes" (click)="onClickHero(hero)">
          <div>
            <h3>{{ hero.name }}</h3>
          </div>
        </li>
      </ul>
      <div>
        <h3>Add Hero</h3>
        <input #myHeroName type="text" placeholder="Hero Name:">
        <button (click)="add(myHeroName.value); myHeroName.value = ''" >Add Hero</button>
      </div>
    </div>
    <div class="col-md-8">
      <app-hero-detail [hero]="selectedHero" ></app-hero-detail>
      <app-messages></app-messages>
    </div>
  </div>
</div>

<!-- First exercise -->
<!-- <p>{{ hero.name | uppercase}}</p> -->

<!-- This is the input for the name of the hero -->
<!-- <input [(ngModel)]="hero.name" type="text" placeholder="Hero name:"> -->
