.delete {
  background-color: #ffe6e6;
  margin-left: 10px;
  border-radius: 5px;
}

input {
  border-radius: 5px;
  border: solid 1px lightgrey;
  text-align: center;
  width: 150px;
  height: 20px;
  margin-right: 10px;

  &:placeholder-shown {
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
    text-shadow: 4px 4px 5px lightgray;
    font-weight: 500;
    font-size: 10pt;
  }
}
