<div class="container">
  <div class="row">
    <div class="hero col-md-4">
      <h2>{{ hero.name }}</h2>
    </div>
    <div class="col-md-4">
      <h2>Change the name:</h2>
      <input [(ngModel)]="this.hero.name" type="text">
      <button (click)="saveName()" >Save</button>
    </div>
  </div>
  <button (click)="goBack()">Go Back</button>
  <button class="delete" (click)="deleteHero(this.hero)" >Delete</button>
</div>
