<div *ngIf="messageService.messages.length" class="messages-section">
  <h2>Messages:</h2>
  <ul>
    <li *ngFor="let message of messageService.messages" >{{ message }}</li>
  </ul>
  <button (click)="messageService.clear()" >Clear Messages</button>
</div>
